
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
        <!-- TITLE HAS TO BE SET -->

	<title>CSE 219</title>

	

	<link href="./css/course_homepage_layout.css" rel="stylesheet" type="text/css">

	<link href="./css/cssFile.css" rel="stylesheet" type="text/css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="./js/HomeBuilder.js"></script>
        <script>
            $(document).ready()
            {
                initCourseInfoHome();
            }
        </script>
    </head>


    <body>

	<div id="content">

	    <div id="navbar">
                <a href=\"http://www.stonybrook.edu/"><img alt="Stony Brook University" class="sbu_navbar" src="./images/banner.png"></a>
            </div>


	    <div id="banner">
                <!-- BANNER NEEDS TO BE SET -->
            </div>

	    <div id="desc">

		<p>Welcome to the <span id="inlined_course">CSE219</span> Web site. If you are enrolled in the course, be sure to periodically check this site for all materials and changes as the semester moves along. Note that all grades will be posted to <a href="http://blackboard.stonybrook.edu/">Blackboard</a>.<br>
		    <br>
		    <br>
		    <br>
		    <br>
		    <br>
		    <br>
		    <br>
		    <br>
		    <br>
		    <br>
		</p>

		<br>

		<hr>


		<a href="http://www.stonybrook.edu/"><img alt="SBU" class="sunysb" src="./images/leftFooter.jpg" style="float:left"></a>
                <a href="http://www.cs.stonybrook.edu/"><img alt="CS" src="./images/rightFooter.png" style="float:right"></a>


		<p style="font-size:9pt; text-align:center;">Web page created and maintained<br>
                    by <span id="instructor_link"><a href="http://www.cs.stonybrook.edu/~richard">Richard McKenna</a></span>
		    <br>
		    <br>
		    <br>
		    <br>
		</p>

	    </div>

	</div>

    


</body></html>